/* common */

.navbar {
}
.my-footer {
  padding: 50px 0;
  margin: 100px 0 0 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.top-page-container {
  padding: 90px 30px;
}
.top-page-title {
  color: #007bff;
}
.top-item-container {
  padding-top: 30px;
}
.top-item-container .card {
  margin: auto;
  left: 0;
  right: 0;
  display: block;
}
.item-card-link {
}
.item-card-link div {
  border: 1px solid rgba(68, 122, 251, 0.1);
}
.item-card-link:hover div {
  border: 1px solid rgba(68, 122, 251, 1);
  transition: all 0.3s ease-out;;
}
.item-card-link:hover {
  text-decoration: none;
}
.top-item-title-container {
  text-align: center;
  color: rgba(68, 122, 251, 0.7);
  padding: 30px;
}

@media (max-width: 991px) {
  .top-item-container {
    padding-top: 30px;
  }
}

/* article_layout */

.article-outside-container {
  padding-top: 30px;
}
.article-table {
  word-break:break-all;
}
.paginate-container {
  text-align: center;
  width: 100%;
}
