<head>
  <meta charset="utf-8" />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
  <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  <%= stylesheet_link_tag 'app' %>
  <%= javascript_include_tag 'app' %>
</head>
